/* ========================================
     FONT FAMILY
  ========================================= */
@font-face {
  font-family: 'Inter';
  src: url('../assets/font/Inter_24pt-Black.ttf');
}

/* ========================================
   DESIGN SYSTEM TOKENS
   Foundations
   - Typography
   - Colors
   - Radius
   - Spacing
======================================== */

:root {
  /* ========================================
     FOUNDATIONS — TYPOGRAPHY
  ========================================= */

  /* Font Family */
  --font-family-primary: 'Inter', sans-serif;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Display Typography */
  --display-3xl-size: 3.75rem;
  --display-3xl-line-height: 4.5rem;

  --display-2xl-size: 3rem;
  --display-2xl-line-height: 3.75rem;
  --display-2xl-letter-spacing: -0.02em;

  --display-xl-size: 2.5rem;
  --display-xl-line-height: 3rem;
  --display-xl-letter-spacing: -0.02em;

  --display-lg-size: 2.25rem;
  --display-lg-line-height: 2.75rem;
  --display-lg-letter-spacing: -0.02em;

  --display-md-size: 2rem;
  --display-md-line-height: 2.5rem;

  --display-sm-size: 1.75rem;
  --display-sm-line-height: 2.375rem;

  --display-xs-size: 1.5rem;
  --display-xs-line-height: 2.25rem;

  /* Text Typography */
  --text-xl-size: 1.25rem;
  --text-xl-line-height: 2.125rem;

  --text-lg-size: 1.125rem;
  --text-lg-line-height: 2rem;

  --text-md-size: 1rem;
  --text-md-line-height: 1.875rem;

  --text-sm-size: 0.875rem;
  --text-sm-line-height: 1.75rem;

  --text-xs-size: 0.75rem;
  --text-xs-line-height: 1.5rem;

  /* ========================================
     FOUNDATIONS — COLORS
  ========================================= */

  /* Base */
  --color-base-white: #ffffff;
  --color-base-black: #000000;

  /* Primary */
  --color-primary-100: #421abc;

  /* Muted */
  --color-purple-muted: #210a5e4d;

  /* Neutral */
  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;

  /* ========================================
     FOUNDATIONS — RADIUS
  ========================================= */

  --radius-none: 0rem;
  --radius-xxs: 0.125rem;
  --radius-xs: 0.25rem;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.25rem;
  --radius-4xl: 1.5rem;
  --radius-full: 9999px;

  /* ========================================
     FOUNDATIONS — SPACING
  ========================================= */

  --spacing-none: 0rem;
  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.375rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 0.75rem;
  --spacing-xl: 1rem;
  --spacing-2xl: 1.25rem;
  --spacing-3xl: 1.5rem;
  --spacing-4xl: 2rem;
  --spacing-5xl: 2.5rem;
  --spacing-6xl: 3rem;
  --spacing-7xl: 4rem;
  --spacing-8xl: 5rem;
  --spacing-9xl: 6rem;
  --spacing-10xl: 8rem;
  --spacing-11xl: 8.75rem;
}

/* ========================================
     RESET
  ========================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.no-transition * {
  transition: none !important;
}

/* ========================================
     BASE
  ========================================= */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-base-black);
  font-family: var(--font-family-primary);
  color: var(--color-neutral-25);
}

section {
  scroll-margin-top: 80px;
}

/* ========================================
     1. HEADER SECTION
  ========================================= */

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 20;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px;
  padding: 24px 16px;
}

.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background-color: var(--color-base-black);
}

/* Logo */
.logo {
  position: relative;
  z-index: 40;
  font-size: 24px;
}

/* Menu */
.menu {
  width: 100%;
  padding: 0 16px 20px;
  background-color: var(--color-base-black);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 10;
  transform: translateY(-200%);
  transition: 0.3s;
}

.menu.open {
  transition: 0.3s;
  transform: translateY(0);
}

/* Nav links */
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav-links a {
  font-weight: 200;
  font-size: 16px;
}

/* Button container */
.btn-container {
  background-color: var(--color-base-black);
  padding: 10px 16px;
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 220px;
  left: 0;
  transform: translateY(-500%);
}

.btn-container.open {
  transition: 0.3s;
  transform: translateY(0);
}

/* Button */
.btn {
  position: relative;
  border: none;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  padding: 12px;
  background-color: var(--color-primary-100);
  color: var(--color-base-white);
  border-radius: 9999px;
  cursor: pointer;
}

/* Hamburger */
.hamburger-button {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 40;
  gap: 4px;
  width: 24px;
  cursor: pointer;
}

.hamburger-button span {
  height: 3px;
  border-radius: 8px;
  background-color: var(--color-neutral-25);
  transition: 0.3s;
}

.hamburger-button.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger-button.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-button.open span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* ========================================
     2. HERO SECTION
  ========================================= */

.hero {
  display: flex;
  flex-direction: column;
  padding: 24px 16px 0;
  background: linear-gradient(
    to top,
    var(--color-purple-muted),
    var(--color-base-black)
  );
}

.hero .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero .text h2 {
  font-weight: 700;
  font-size: 50px;
}
.hero .text h2 span {
  font-style: italic;
}
.hero .text p {
  color: var(--color-neutral-500);
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}

.hero .pict {
  margin-top: -40px;
  margin: 0 auto;
}

/* ========================================
     3. WHO WE ARE SECTION
  ========================================= */

.who-we-are {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 40px 20px;
}

.who-we-are h2 {
  font-size: 28px;
  font-weight: 700;
}

.who-we-are p {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.who-we-are p span {
  color: var(--color-neutral-500);
}

/* ========================================
     4. WHAT WE DO SECTION
  ========================================= */

.what-we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 24px;
  text-align: center;
}
.what-we-do .text h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--color-neutral-25);
}

.what-we-do .text p {
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: var(--color-neutral-500);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid var(--color-neutral-900);
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background-color: var(--color-neutral-950);
}

.card img {
  margin-bottom: 20px;
}
.card h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
}
.card p {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 16px;
  color: var(--color-neutral-500);
}

/* ========================================
     5. OUR WORK SECTION
  ========================================= */

.our-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  gap: 24px;
  text-align: center;
}

.our-work .text h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

.our-work .text p {
  font-weight: 300;
  font-size: 14px;
  color: var(--color-neutral-500);
}
.portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* ========================================
     6. MEET THE TEAM SECTION
  ========================================= */

.meet-the-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  gap: 24px;
  text-align: center;
}
.meet-the-team .text h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}
.meet-the-team .text p {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 16px;
  color: var(--color-neutral-500);
}

.members {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 20px;
}

/* ========================================
     7. LET'S COLLABORATE SECTION
  ========================================= */

.let-us-collaborate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  gap: 24px;
  text-align: center;
}
.let-us-collaborate .text h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

.let-us-collaborate .text p {
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-neutral-500);
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form div {
  display: flex;
  flex-direction: column;
}
.form div label {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}

.form div input,
.form div textarea {
  background: transparent;
  border: 1px solid var(--color-neutral-800);
  border-radius: 12px;
  padding: 12px;
  font-weight: 100;
  font-size: 14px;
}

.form div textarea {
  resize: vertical;
  min-height: 134px;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-neutral-500);
  font-weight: 300;
  font-size: 14px;
}

/* ========================================
     8. FOOTER SECTION
  ========================================= */

footer {
  padding: 24px 20px;
  border-top: 1px solid var(--color-neutral-500);
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 16px;
  color: var(--color-neutral-500);
}

footer a {
  color: #f59e0b;
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  /* ========================================
     1. HEADER SECTION
  ========================================= */

  header {
    padding: 24px 70px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-base-black);
  }

  .hamburger-button {
    display: none;
  }

  .bg-header {
    display: none;
  }

  .menu {
    width: auto;
    align-items: center;
    padding: 0;
    position: static;
    transition: none;
    transform: translateY(0);
  }

  .menu .nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .btn-container {
    padding: 0;
    max-width: 160px;
    transform: translateY(0);
    position: static;
    transition: none;
  }

  /* ========================================
     2. HERO SECTION
  ========================================= */

  .hero {
    position: relative;
    flex-direction: row;
    padding: 40px 70px 70px;
  }

  .hero .text {
    max-width: 400px;
  }

  .hero .btn {
    max-width: 300px;
  }

  .hero .pict {
    position: absolute;
    margin-top: 0;
    max-width: 330px;
    top: 17px;
    right: 50px;
  }

  /* ========================================
     3. WHO WE ARE SECTION
  ========================================= */

  .who-we-are {
    padding: 40px 70px;
  }

  /* ========================================
     4. WHAT WE DO SECTION
  ========================================= */

  .what-we-do {
    padding: 40px 70px;
  }

  /* ========================================
     5. OUR WORK SECTION
  ========================================= */

  .our-work {
    padding: 40px 70px;
  }

  /* ========================================
     6. MEET THE TEAM SECTION
  ========================================= */

  .meet-the-team {
    padding: 40px 70px;
  }

  .members {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 100px;
  }

  /* ========================================
     7. LET'S COLLABORATE SECTION
  ========================================= */

  .let-us-collaborate {
    padding: 40px 70px;
  }

  .form {
    width: 100%;
    max-width: 592px;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  /* ========================================
     2. HERO SECTION
  ========================================= */

  .hero {
    padding: 100px 70px;
  }

  .hero .text {
    max-width: 500px;
  }

  .hero .text .btn {
    margin-top: 20px;
  }
  .hero .pict {
    max-width: 360px;
    top: 0px;
    right: 50px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
    margin: auto;
  }

  /* ========================================
     1. HEADER SECTION
  ========================================= */

  header {
    padding: 24px 140px;
  }

  .hamburger-button {
    display: none;
  }

  /* ========================================
     2. HERO SECTION
  ========================================= */

  .hero {
    padding: 234px 140px 170px;
  }

  .hero .text {
    max-width: 650px;
  }

  .hero .text h2 {
    font-size: 56px;
  }

  .hero .text p {
    font-size: 20px;
    line-height: 34px;
  }

  .hero .text .btn {
    margin-top: 48px;
  }

  .hero .pict {
    max-width: 600px;
    top: -40px;
    right: 140px;
  }

  /* ========================================
     3. WHO WE ARE SECTION
  ========================================= */

  .who-we-are {
    gap: 32px;
    padding: 40px 140px;
  }

  .who-we-are h2 {
    font-size: 40px;
  }

  .who-we-are p {
    font-size: 32px;
    line-height: 56px;
  }

  /* ========================================
     4. WHAT WE DO SECTION
  ========================================= */

  .what-we-do {
    padding: 40px 140px;
    gap: 64px;
  }

  .what-we-do .text h2 {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .what-we-do .text p {
    font-size: 20px;
  }

  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* ========================================
     5. OUR WORK SECTION
  ========================================= */

  .our-work {
    padding: 40px 140px;
    gap: 64px;
  }

  .our-work .text h2 {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .our-work .text p {
    font-size: 20px;
  }

  .portfolio-card {
    flex-direction: row;
    gap: 20px;
  }

  /* ========================================
     6. MEET THE TEAM SECTION
  ========================================= */

  .meet-the-team {
    padding: 40px 140px;
    gap: 64px;
  }

  .meet-the-team .text h2 {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .meet-the-team .text p {
    font-size: 20px;
  }

  .members {
    grid-template-columns: repeat(4, auto);
    gap: 56px;
  }

  /* ========================================
     7. LET'S COLLABORATE SECTION
  ========================================= */

  .let-us-collaborate {
    padding: 40px 140px;
    gap: 64px;
  }

  .let-us-collaborate .text h2 {
    font-size: 40px;

    margin-bottom: 16px;
  }
  .let-us-collaborate .text p {
    font-size: 20px;
  }
}
